.bg-intj {
    background-color: #08458e;
  }
  
  .bg-intp {
    background-color: #101211;
  }
  
  .bg-entj {
    background-color: #540421;
  }
  
  .bg-entp {
    background-color: #fbdb09;
  }
  
  .bg-infj {
    background-color: #370a5b;
  }
  
  .bg-infp {
    background-color: #f46e79;
  }
  
  .bg-enfj {
    background-color: #a6126a;
  }
  
  .bg-enfp {
    background-color: #f77305;
  }
  
  .bg-istj {
    background-color: #6A5ACD;
  }
  
  .bg-isfj {
    background-color: #149691;
  }
  
  .bg-estj {
    background-color: #FF69B4;
  }
  
  .bg-esfj {
    background-color: #2a933c;
  }
  
  .bg-istp {
    background-color: #149691;
  }
  
  .bg-isfp {
    background-color: #e98d85;
  }
  
  .bg-estp {
    background-color: #d81c19;
  }
  
  .bg-esfp {
    background-color: #8f2704;
  }

  .nav__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word; 
  }
  
  .nav__brand h1 {
    font-size: clamp(0.95em, 2vw, 1.2em);
    font-family: Open Sans;
  }
  .nav__brand h1:hover {
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
  }
  