.bg-intj {
    background-color: #008080;
  }
  
  .bg-intp {
    background-color: #8B0000;
  }
  
  .bg-entj {
    background-color: #556B2F;
  }
  
  .bg-entp {
    background-color: #4682B4;
  }
  
  .bg-infj {
    background-color: #800080;
  }
  
  .bg-infp {
    background-color: #FF6347;
  }
  
  .bg-enfj {
    background-color: #8A2BE2;
  }
  
  .bg-enfp {
    background-color: #228B22;
  }
  
  .bg-istj {
    background-color: #6A5ACD;
  }
  
  .bg-isfj {
    background-color: #2F4F4F;
  }
  
  .bg-estj {
    background-color: #FF69B4;
  }
  
  .bg-esfj {
    background-color: #D2691E;
  }
  
  .bg-istp {
    background-color: #B0C4DE;
  }
  
  .bg-isfp {
    background-color: #7FFF00;
  }
  
  .bg-estp {
    background-color: #BA55D3;
  }
  
  .bg-esfp {
    background-color: #FFD700;
  }
  